.home-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 20px;
}

.t-shirt-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}


/* mobile device */
@media screen and (max-width: 676px) {
    .home-container {
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column-reverse;
        /* background-color: palevioletred; */
        margin: 20px;
        border-radius: 5px;
    }

    .t-shirt-container {
        grid-template-columns: repeat(1, 1fr);
        margin: auto;
        margin-top: 30px;
        margin-bottom: 40px;
    }
}

/* tablet device */
@media screen and (min-width: 677px) and (max-width: 992px) {
    .home-container {
        grid-template-columns: repeat(1, 1fr);
        margin: 20px;
    }

    .t-shirt-container {
        grid-template-columns: repeat(2, 1fr);
        margin: auto;
    }
}